{% extends "layout.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-dark text-white">
            <h2 class="text-center">
                Eligible Students (CGPA ≥ 7.5)
            </h2>
        </div>

        <div class="card-body">

            {% if students %}

            <table class="table table-bordered table-hover table-striped">

                <thead class="table-primary">

                    <tr>
                        <th>Roll Number</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>CGPA</th>
                        <th>Skills</th>
                        <th>Placement Status</th>
                    </tr>

                </thead>

                <tbody>

                    {% for student in students %}

                    <tr>

                        <td>{{ student[0] }}</td>
                        <td>{{ student[1] }}</td>
                        <td>{{ student[2] }}</td>
                        <td>{{ student[3] }}</td>
                        <td>{{ student[4] }}</td>

                        <td>

                            {% if student[5] == "Placed" %}

                                <span class="badge bg-success">
                                    Placed
                                </span>

                            {% else %}

                                <span class="badge bg-warning text-dark">
                                    Not Placed
                                </span>

                            {% endif %}

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

            {% else %}

            <div class="alert alert-danger text-center">

                No Eligible Students Found.

            </div>

            {% endif %}

            <div class="text-center mt-3">

                <a href="{{ url_for('home') }}"
                   class="btn btn-primary">

                    Back to Home

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}